[user]
	email = guy@guysherman.com
	name = Guy Sherman
	signingkey = 3D2026AD7F917B8F
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[commit]
	gpgsign = true
[fetch]
	prune = true
[tag]
	gpgSign = true
