[user]
	email = guy@guysherman.com
	name = Guy Sherman
	signingkey = 9735422D59D4E1F9
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[commit]
	gpgsign = true
[fetch]
	prune = true
[credential]
	helper = 
	helper = /usr/bin/git-credential-manager-core
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
