[user]
	email = guy.sherman@gotracksuit.com
	name = Guy Sherman
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDolqktkZsdVzmncIGtv4R/BCRWYsBSC238nf9UPeVgb
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[commit]
	gpgsign = true
[fetch]
	prune = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
