[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty
GenericName=Terminal emulator
Comment=A fast, feature full, GPU based terminal emulator
TryExec=kitty
Exec=kitty -o allow_remote_control=yes --single-instance --listen-on=tcp:locahost:45876
Icon=kitty
Categories=System;TerminalEmulator;

